.button{
  margin: 20px 0;
  width: var(--cardFinderWidth);
  box-sizing: border-box;
  background-color: #d3d3d3;
  border: 0;
  text-decoration: underline;
  font-size: 17px;
  border: 1px solid black;
  border-radius: 7px;
  padding: 7px 0;
  cursor: pointer;
}

.button:hover{
  transform: translate3d(1px, 1px, 0);
  transition: all .1s;
  font-weight: bold;
}


























/* .faUserParent{
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
}
 */





















/* .targetDiv{
  position: absolute;
  left: 350px;
  height: 100px;
}

.targetDiv:hover .button{
  visibility: visible;
}

.targetDiv:hover .plus{
  visibility: hidden;
  width: 400px;
} */

/* .plus{
  background-image: url(../../images/plus.png);
  width: 100px;
  height: 100px;
  text-decoration: underline;

} */
