.button{
  cursor: pointer;
  border: none;
  border-radius: var(--buttonBorderRadiusLarge);
  background-color: var(--mainColorLightGrey);
  height: var(--navButtonHeight);
  padding: var(--buttonPadding);
  font-family: inherit;
  font-size: 20px;
  font-weight: bold;
  transition: var(--transition);
}

.button:hover{
  color: var(--secondaryColorGreen);
}
