.button{
  cursor: pointer;
  border: none;
  border-radius: calc(var(--navButtonHeight) / 2);
  background-color: var(--green1);
  height: var(--navButtonHeight);
  padding: var(--buttonPadding);
  font-family: inherit;
  font-size: 20px;
  transition: var(--transition);
  border: 1px solid transparent;
}

.button:hover{
  color: var(--green1);
  background-color: var(--gray1);
  border: 1px solid var(--green1);
}
