.showcaseWrapper {
  height: 80vh;
  max-height: 80vh;
  width: auto;
  max-width: 80vw;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.showcaseWrapper button {
  color: white;
  font-size: 3rem;
  background: none;
  border: none;
  cursor: pointer;
}
