.submitButton{
  background-color: var(--mainColorGreen);
  border-radius: 8px;
  padding: .75rem 0;
  width: 100%;
  color: white;
  margin-top: .5rem;
  font-size: 18px;
  font-weight: bold;
}

.submitButton:hover{
  background-color: var(--secondaryColorGreen);
}

.footer{
  margin-top: 1rem;
  width: 100%;
}
