.submitButton {
  background-color: var(--green1);
  border-radius: 8px;
  padding: .75rem 0;
  width: 100%;
  color: white;
  margin-top: .5rem;
  font-size: 18px;
  font-weight: bold;
}

.submitButton:hover {
  background-color: var(--green2);
}

.footer {
  margin-top: 1rem;
  width: 100%;
}

.infoWindow {
  width: 10vw;
  min-width: 80px;
}
