@import './../../index.css';

.areaBox{
  /* border: 1px solid black; */
  border-radius: var(--cardBorderRadius);
  background-color: var(--mainColorLightGrey);
  display: flex;
  flex-direction: column;
  margin: 20px 30px 20px 30px;
  padding: 20px 20px 20px 20px;

  transition: all 400ms ease;
  box-shadow: var(--cardBoxShadow);
}
.areaBox:hover{
  transform: scale(1.01);
}

.stateName{
  font-size: 20px;
}

.locationDiv a {
  text-decoration: none;
}
