@import './../../index.css';

.wrapper{
  margin: var(--containerMarginTop) auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.wrapper > * {
  width: 80vw;
}
