.standardLinkButton{
  color: var(--gray2);
  border-width: var(--cardBorderWidth);
  border-style: var(--cardBorderStyle);
  border-color: var(--gray2);
  border-radius: var(--buttonBorderRadiusSmall);
  padding: .25rem 1rem;
  text-decoration: none;
  margin: 1rem 0;
}

.standardLinkButton:hover{
  background-color: var(--gray2);
  color: var(--gray1);
}
