.header{
  /* background-color: #888888; */
  /* padding: .5rem 1rem; */
  text-decoration: underline;
  font-size: 1.3rem;
  cursor: pointer;
}

.options{
  top: 37px;
  position: absolute;
  height: 25vh;
  width: max-content;
  overflow-y: scroll;
  padding: 0;
  background-color: var(--grey4);
  border-radius: 0 .5rem .5rem .5rem;
  box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.1) ;
}

.options li {
  list-style-type: none;
  border-bottom: solid;
  border-color: white;
  border-width: 1px;
}

.options button{
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
