@import './../../index.css';


.contentWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: var(--navbarHeight);
}

.spotName{
  font-size: var(--pageHeaderSize);
  margin-top: 0px;
}

.coordinates{
  font-size: 25px;
  font-style: italic;
  margin-top: 5px;
}

.areaName{
  margin-top: 8px;
  font-size: 20px;
}

.SpotDivInfo{
  display: flex;
  flex-direction: row;
  border-top: solid 1px black;
  margin-top: 15px;
  margin-bottom: 70px;
  padding-top: 40px;
  padding-right: 10%;
  position: relative;
}

.SpotDivInfoRight{
  font-size: 25px;
  padding-left: 50px;
  padding-right: 200px;
}

.directionsHeader{
  padding-top: 40px;
  font-size: 20px;
}

.directions{
  padding-top: 10px;
}

.SpotDivActivities{
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 40px;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  display: flex;
  flex-direction: row;
}





.editButton:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.75);
  transform: translate3d(1px, 1px, 0);
  transition: all .1s;
}

.deleteOuterDiv{
  padding-top: 15px;
}

.deleteDiv{
  border: 1px solid black;
  width: 70px;
  padding-left: 20px;
}


@media screen and (min-width: 1500px) {
  .mapContainerWrapper{
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 49vw;
    width: 500px;
  }

  .mapContainerWrapper:hover{
    left: 47vw;
    transition: all .1s;
  }
}

@media screen and (max-width: 1500px) {
  .mapContainerWrapper{
    width: 100%;
  }
}

.mapContainerWrapper{
  height: 400px;
  background-color: #f3f3f4;
  padding: 20px;
  border-radius: 5px;
}
