@import './../../index.css';

.contentWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: var(--navbarHeight);
}

.topsection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

@media (max-width: 900px){
  .topsection{
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
}

.spotName{
  font-size: var(--pageHeaderSize);
  margin-top: 0px;
  max-width: 700px;
}

.coordinates{
  font-size: 25px;
  font-style: italic;
  margin-top: 5px;
}

.areaName{
  margin-top: 8px;
  font-size: 20px;
}

.spotInfo{
  font-size: 25px;
}

.directions{
  padding-top: 40px;
  padding-bottom: 10px;
  font-size: 20px;
}

.midsection{
  display: flex;
  gap: 3rem;
}

@media (max-width: 1200px) {
  .midsection{
    flex-direction: column-reverse;
  }
}

.mapContainerWrapper{
  height: 350px;
  width: 100%;
}
