@import './../../index.css';

.container {
  border-radius: var(--cardBorderRadius);
  background-color: var(--gray2);
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 20px;
  padding: 30px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: all 400ms ease;
  box-shadow: var(--cardBoxShadow);
}

.container:hover {
  box-shadow: var(--cardBoxShadowHover);
  transform: scale(1.01);
}

.spotImage {
  width: 300px;
  border-radius: var(--cardBorderRadius);
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .spotImage {
    width: 100%;
    margin: 0 auto;
  }
}


.containerRight {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
