@import './../../index.css';

.container{
  border-radius: var(--cardBorderRadius);
  background-color: var(--mainColorLightGrey);
  display: flex;
  flex-direction: row;
  margin: 20px 30px 20px 30px;
  /* note: reduce vertical padding */
  padding: 30px 30px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: all 400ms ease;
  box-shadow: 0rem 0 .3rem .1rem #AAA;

}

.container:hover{
  box-shadow: 0 0 .5rem .5rem #AAA;
  transform: scale(1.01);
}

.containerLeft{
  display: flex;
  flex-direction: column;
}

.spotImageDiv{
  width: 350px;
  height: 260px;
  margin: 2px 20px;
}

.spotImage{
  border-radius: var(--cardBorderRadius);
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.containerRight{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.areaName{
  font-size: 20px;
  margin-top: 10px;
}

.stateName{
  margin-top: 10px;
}

.spotBlurb{
  margin-top: 10px;
}
