.standardLinkButton {
  color: var(--gray1);
  border-width: var(--cardBorderWidth);
  border-style: var(--cardBorderStyle);
  border-color: var(--gray2);
  border-radius: var(--buttonBorderRadiusSmall);
  padding: .5rem 1rem;
  text-decoration: none;
  margin: 1rem 0;
  width: 90px;
}

.standardLinkButton:hover {
  background-color: var(--gray1);
  color: white;
}
