@import './../../index.css';

.container{
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: relative; */
  background-color: var(--mainColorLightGrey);
  border-radius: var(--containerBorderRadius);
}


.contentContainer{
  /* background-color: var(--mainColorLightGrey); */
  width: 100%;
  /* margin-right: var(--containerMarginSide); */
  /* margin-left: var(--containerMarginSide); */
  padding-top: var(--containerPaddingTop);
  /* padding-right: 3rem; */
  padding-bottom: 80px;
  /* padding-left: 3rem; */
  /* border-radius: var(--containerBorderRadius); */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}
