.pageContainer {
  display: flex;
  flex-direction: row;
  width: 100vw;
}


.pageLeft {
  width: 60vw;
  height: 100vh;
  padding-top: var(--navbarHeight);
  padding-bottom: var(--footerHeight);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.scroll {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  scroll-snap-type: y proximity;
  scroll-padding-top: 1rem;
  scroll-behavior: smooth;
}

.pageRight {
  width: 40vw;
  height: 100vh;
  padding-top: var(--navbarHeight);
  padding-bottom: var(--footerHeight);
}


@media (max-width: 950px) {
  .pageContainer {
    flex-direction: column;
  }

  .pageRight {
    height: 30vh;
    width: 100vw;
  }

  .pageLeft {
    width: 100vw;
    height: 65vh;
    padding-bottom: 1rem;
  }
}
