@import './../../index.css';

.pageContainer{
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding-top: var(--navbarHeight);
}

.pageLeft{
  width: 60vw;
  height: 100vh;
  background-color: var(--mainColorDarkGrey);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.search{
  margin: 17vh 15vw 15vh 15vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 24px;
  color: white;
}


.pageRight{
  width: 40vw;
  height: 100vh;
}
