.pageContainer{
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding-top: var(--navbarHeight);
}

.pageLeft{
  width: 60vw;
  height: 100vh;
  background-color: var(--gray1);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.pageRight{
  width: 40vw;
  height: 100vh;
}
