.addSpotButtonWrapper{

}

.addSpotButton{
  background-color: var(--mainColorGreen);
  border-radius: 4px;
  box-shadow: 0rem 0 .3rem .1rem #555;
  border: 0;

  padding: 20px 30px;

  width: 300px;
  height: 150px;

  position: fixed;
  top: 180px;
  left: 1360px;

  font-size: 24px;
  font-weight: bold;
  color: white;

}

.addSpotButton:hover{
  background-color: var(--secondaryColorGreen);
  cursor: pointer;
}
