.addSpotButton{
  background-color: var(--green1);
  border-radius: var(--buttonBorderRadiusSmall);
  border: 0;
  font-size: 24px;
  font-weight: bold;
  color: white;
  padding: 0 .75rem;
}

.addSpotButton:hover{
  background-color: var(--green2);
  cursor: pointer;
}
