.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 24px;
  background-color: var(--gray3);
  border-radius: var(--cardBorderRadius);
  padding: 2rem 4rem 3rem 4rem;
}

.link {
  color: var(--green1);
}

.link:hover {
  color: var(--green2);
}
