.container{
  width: 30vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
  font-size: 24px;
  background-color: var(--gray1);
  color: white;
  margin: auto;
}

.link{
  color: var(--green1);
}

.link:hover{
  color: var(--green2);
}
