.form {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 1rem;
  padding: 40px 40px 20px 40px;
  background-color: var(--gray3);
  border-radius: var(--cardBorderRadius);
  width: 100%;
  max-width: 90vw;
  max-height: 80vh;
  overflow: scroll;
}

.formHeader {
  color: var(--gray1);
}

.formSelectInput {
  margin-top: 20px;
}

.submitButton {
  background-color: var(--green1);
  border: none;
  border-radius: 8px;
  padding: .75rem 0;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.submitButton:hover {
  background-color: var(--green2);
}

.warningButton {
  border: 1.5px solid rgb(221, 90, 90);
  border-radius: 8px;
  padding: .75rem 0;
  margin-top: 40px;
}

.warningButton:hover {
  background-color: black;
  color: white;
}
