@import './vars.css';

/* TODO Add site wide styles */
html{
  background: url('./images/background-star-2.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.formInput{
  color: aqua;
}

.verticalCenteringWrapper{
  display: flex;
  flex-direction: column;
}
