@import './vars.css';

html{
  background: url('./images/background-star-2.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.appContainer{
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.pageContainer{
  /* position: relative;
  min-height: 100vh; */
  /* padding-bottom: var(--footerHeight); */
  margin-bottom: 200px;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 40px;
  background-color: var(--mainColorLightGrey);
  /* border-radius: var(--cardBorderRadius); */
}

.formHeader{
  color: var(--mainColorDarkGrey);
}

.formInputLabel{
  color: var(--mainColorDarkGrey);
  padding: 20px;
}

.formInput{
  height: 28px;
  margin-bottom: 10px;
}

.submitButton{
  background-color: var(--mainColorGreen);
  border-radius: 8px;
  padding: .75rem 0;
  margin-top: 40px;
}

.submitButton:hover{
  background-color: var(--secondaryColorGreen);
}

.verticalCenteringWrapper{
  display: flex;
  flex-direction: column;
}
