@import './vars.css';

html{
  background: url('./images/background-star-2.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*
.appContainer{
  position: relative;
  min-height: 100vh;
  width: 100%;
} */

.pageContainer{
  /* position: relative;
  min-height: 100vh; */
  /* padding-bottom: var(--footerHeight); */
  margin-bottom: 200px;
}

.verticalCenteringWrapper{
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1500px){
  .contentContainer{
    width: 60vw;
  }
}

@media screen and (max-width: 1500px){
  .contentContainer{
    width: 70vw;
  }
}
@media screen and (max-width: 1200px){
  .contentContainer{
    width: 80vw;
  }
}

.contentContainer{
  /* width: 100%; */
  background-color: var(--mainColorLightGrey);
  margin-top: var(--containerMarginTop);
  margin-bottom: var(--containerMarginTop);
  margin-right: var(--containerMarginSide);
  margin-left: var(--containerMarginSide);
  padding: var(--containerPaddingTop) var(--containerPaddingSide) 0 var(--containerPaddingSide);
  border-radius: var(--containerBorderRadius);
}
