:root {
  /* ---- COLORS ---- */
  --mainColorGreen: #248232;
  --mainColorDarkGrey: #212121;
  --mainColorLightGrey: #CCCCCC;
  --mainColorWhite: #FFFFFF;
  --footerHeight: 5rem;
  --navbarHeight: 80px;
  --navbarBottomPadding: 10px;

  /* ---- CARDS ---- */
  --cardBorderWidth: 1px;
  --cardBorderStyle: solid;
  --cardBorderRadius: 10px;
  --cardBoxShadow: 0px 8px 16px 0px var(--mainColorGreen);


  /* ---- BUTTONS ---- */
  --buttonPaddingTop: .25rem;
  --buttonPaddingSides: 1rem;
  --buttonBorderRadius: 3px;

  /* ---- INPUTS ---- */
  --inputLabelSize: 10px;

  /* ---- CONTAINERS ---- */
  --containerMarginTop: 2rem;
  --containerMarginSide: 2rem;
}
