:root {
  /* ---- CONTAINERS ---- */
  --containerMarginTop: 9rem;
  --containerBorderRadius: 10px;

  /* ---- NAVIGATION ---- */
  --navSidePadding: 30px;
  --navbarHeight: 60px;
  --navLinkBorderBottom: 2px solid transparent;
  --navLinkBorderBottomHover: 2px solid var(--green2);
  --navButtonHeight: 2rem;
  --footerHeight: 3.5rem;

  /* ---- COLORS ---- */
  --green1: #248232;
  --green2: #2BA84A;

  --red1: rgb(221, 90, 90);

  --gray1: #343539;
  --gray2: #f3f3f4d5;
  --gray3: #f3f3f4;
  --grey4: #141a16;
  --grey5: #222222;

  --muiGray1: #CFD8DC;
  --muiGray2: #B0BEC5;
  --muiGray3: #90A4AE;
  --muiGray4: #78909C;
  --muiGray5: #607D8B;
  --muiGray6: #546E7A;
  --muiGray7: #455A64;
  --muiGray8: #37474F;
  --muiGray9: #263238;

  /* ---- CARDS ---- */
  --cardBorderWidth: 1px;
  --cardBorderStyle: solid;
  --cardBorderRadius: 10px;
  --cardBoxShadow: 0rem 0 .3rem .1rem #AAA;
  --cardBoxShadowHover: 0 0 .5rem .5rem #AAA;
  --cardFinderWidth: 210px;

  /* ---- BUTTONS ---- */
  --buttonPadding: 0 1rem;
  --buttonBorderRadiusSmall: 3px;
  --buttonBorderRadiusLarge: 7px;
  --buttonBoxShadowBlur: 0rem 0 .1rem .1rem #DDD;
  --buttonBoxShadowBlurHover: 0rem 0 .3rem .1rem #AAA;
  --transition: all 200ms ease;
  --bigButtonMargin: 20px 0;
  --bigButtonBackgroundColor: d3d3d3;
  --bigButtonFontSize: 17px;
  --bigButtonPadding: 7px 0;
  --bigButtonTransition: all 300ms ease;
}
