@import './../../index.css';

.tipCardContainer{
  border: 2px solid rgb(124, 124, 124);
  border-radius: var(--cardBorderRadius);
  display: flex;
  flex-direction: column;
  margin: 20px 30px 20px 30px;
  padding: 20px;
  width: 292px;
  box-shadow: 0rem 0 .3rem .1rem #AAA;
}

.tipCardContainer:hover{
  box-shadow: -.4rem 0 1rem #999;
  background-color: rgb(233, 233, 233);
}

.tipCardContainer:hover .buttons {
  visibility: visible;
}

.buttons{
  position: relative;
  visibility: hidden;
}

.editButton, .deleteButton{
  position: absolute;
  text-decoration: underline;
  background-color: Transparent;
  left: 220px;
  border: 0;
  cursor: pointer;
}

.editButton{
  top: 0px;
}

.deleteButton{
  top: 25px;
}

.deleteButton:hover, .editButton:hover{
  transition: all .1s;
  font-weight: 700;
}

.createdAt{
  font-size: 1em;
}

.username{
  font-size: 1.25em;
}

.rating{
  font-size: 1.25em;

}

.tipText{
  font-size: 1.5em;
  margin-top: 20px;
}
