.splashSection {
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  color: white;
  margin-bottom: 3rem;
}

.splashSection div:nth-child(1) {
  max-width: 30vw;
  text-align: center;
}

.splashSection div:nth-child(2) {
  /* max-width: 60vw; */
  text-align: center;
  display: flex;
  justify-content: center;
}

.splashSection img {
  width: 50vw;
}

.splashSection h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.splashSection p {
  font-size: 1.5rem;

}
