.button {
  border: none;
  background: none;
  padding: none;
  padding: .5rem;
  margin: .25rem;
  cursor: pointer;
  font-size: 1.2rem;
  color: white;
}

.button:hover{
  text-decoration: underline;
}

.isSelected{
  font-weight: bold;
  color: black;
  cursor: text;
  text-decoration: none;
}
/* must remain below .button rules */
.isSelected:hover{
  text-decoration: none;
}
