.container {
  border: 1px solid var(--gray2);
  border-radius: var(--containerBorderRadius);
  padding: 2rem 3rem;
  margin: 3rem auto 2rem auto;
  display: flex;
  flex-direction: row;
}

.button {
  border: none;
  background: none;
  padding: none;
  padding: .5rem;
  margin: .25rem;
  cursor: pointer;
  font-size: 1.2rem;
  color: white;
}

.button:hover {
  text-decoration: underline;
}
