.addTipFormContainer {
  width: 80vw;
  max-width: 800px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.buttons button {
  background: none;
  border: none;
  cursor: pointer;
  transition: var(--transition);
  font-size: 3rem;
  color: var(--gray1);
}
