@import './../../vars.css';

.contentWrapper{
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; */
  position: relative;
  top: 200px;
}

.welcomeMessageBox{
  margin-top: 20rem;
  background-color: var(--mainColorDarkGrey);
  height: 20rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--cardBorderRadius);
  box-shadow: var(--cardBoxShadow);
  margin: 0 auto;
}

.welcomeMessage{
  color: var(--mainColorWhite);
  font-size: 14px;
  padding-bottom: 15px;
}
