@import './../../vars.css';

.contentWrapper{
  position: relative;
  top: 200px;
}

.welcomeMessageBox{
  background-color: var(--mainColorDarkGrey);
  height: 20rem;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--cardBorderRadius);
  box-shadow: 0px 8px 16px 0px var(--mainColorGreen);
  margin: 50px auto 0 auto;
}

.welcomeMessage{
  color: var(--mainColorWhite);
  font-size: 16px;
  padding-bottom: 15px;
}
