@media screen and (min-width: 800px) {
  #navbarLogoShort{
    display: none;
  }
  .navbarRight{
    gap: 1.8rem;
  }
}

@media screen and (max-width: 800px) {
  #navbarLogoLong{
    display: none;
  }
  .navbarRight{
    gap: 1rem;
  }
}

@media screen and (max-width: 1150px) {
  .navbarRight p {
    display: none;
  }
}

.navbarWrapper{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar{
  height: var(--navbarHeight);
  background-color: var(--mainColorDarkGrey);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  top: 0px;
  width: 100%;
}

.navbarLeft{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: 30px;
}

.navbarRight{
  margin-bottom: var(--navbarBottomMargin);
  display: flex;
  flex-direction: row;
  margin-right: var(--pageSidePadding);
}

.navbarLogo{
  position: relative;
  top: 12px;
  color: white;
  text-decoration: none;
}

.navbarLogo h1 {
  font-size: 60px;
}

.navLink{
  text-decoration: none;
  height: var(--navButtonHeight);
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: var(--navButtonHeight);
  transition: var(--transition);
  border-bottom: var(--navLinkBorderBottom);
}

.navLink:hover{
  border-bottom: var(--navLinkBorderBottomHover);
}

.navLinkActive{
  color: var(--mainColorGreen);
}

.errorDiv{
  position: absolute;
}

.navbarRight p {
  color: #777;
  font-weight: 700;
  position: absolute;
  bottom: -20px;
  right: 20px;
}


.button{
  cursor: pointer;
  border: none;
  background: none;
  height: var(--navButtonHeight);
  padding: 0;
  font-size: 20px;
  color: white;
  transition: var(--transition);
  border-bottom: var(--navLinkBorderBottom);
}

.button:hover{
  border-bottom: var(--navLinkBorderBottomHover);
}
