@media screen and (min-width: 1000px) {
  #navbarLogoShort{
    display: none;
  }
  .navLinkList{
    flex-direction: row;
  }
}

@media screen and (max-width: 1350px) {
  .navLinkList a {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1150px) {
  .username {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  #navbarLogoLong{
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .navLinkList{
    background-color: var(--mainColorDarkGrey);
    position: absolute;
    top: 30px;
    left: -50px;
    flex-direction: column;
    padding: 40px 20px 20px 40px;
    z-index: -100;
    border-radius: 1rem;
  }
}

.navbarWrapper{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar{
  background-color: var(--mainColorDarkGrey);
  height: var(--navbarHeight);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  top: 0px;
  width: 100%;
  box-shadow: 0px 4px 8px 2px var(--mainColorGreen);
}

.navbarLeft{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: 30px;
}

.navbarRight{
  margin-bottom: var(--navbarBottomMargin);
}

.navbarLogo{
  position: relative;
  top: 12px;
  color: white;
  text-decoration: none;
}

.navbarLogo h1 {
  font-size: 60px;
}

.navLinkList{
  margin-left: 20px;
  display: flex;
  gap: 10px;
}

.navLink{
  font-size: 30px;
  text-decoration: none;
  font-weight: 600;
  padding: 4px 24px 0 24px;
  border-radius: 4px;
  background-color: #222222;
  color: #777777;
}

.navLink:hover{
  color: var(--secondaryColorGreen);
}

.navLinkActive{
  color: var(--mainColorGreen);
}

.errorDiv{
  position: absolute;
}

.sessionLinksDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 18vw;
  min-width: 300px;
  margin-right: var(--pageSidePadding);
}

.signUpLink{
  text-decoration: none;
  background-color: var(--mainColorGreen);
  width: 80px;
  height: 40px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  box-shadow: 0rem 0 .1rem .1rem #222;
  padding: auto auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.signUpLink:hover{
  background-color: var(--secondaryColorGreen);
}

.welcomeDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #777;
  font-weight: 700;
  margin-right: var(--pageSidePadding);
}

.username{
  margin-right: 18px;
}
