@import './../../vars.css';

.navbarRight{
  margin-right: 30px;
}

.faUserParent{
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
}

.accountButton{
  height: 40px;
  width: var(--navAccountButtonWidth);
  border-radius: var(--buttonBorderRadius);
  background-color: #222222;
  color: var(--mainColorGreen);
  margin-right: 20px;
  /* margin-top: 20px; */
  /* padding-top: 20px; */
  /* border: 0; */
  border: .1px solid black;
  margin-bottom: 10px;

}

.accountButton:hover{
  background-color: #333333;
  cursor: pointer;
}

.profileDropdown{
  background-color: var(--mainColorLightGrey);
  width: 170px;
  position: absolute;
  top: 70px;
  padding: 5px 10px 10px 10px;
  /* border-radius: var(--cardBorderRadius); */
}

.profileDropdown div {
  padding-top: 8px;
}

.warningButton{
  border: 3px solid var(--mainColorWarning);
  border-radius: 7px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 800;
}

.warningButton:hover{
  background-color: var(--mainColorWarning);
  color: white;
}
