@import './../../vars.css';

.faUserParent{
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
}

.accountButton{
  height: 40px;
  width: var(--navAccountButtonWidth);
  border-radius: var(--buttonBorderRadius);
  background-color: #222222;
  color: var(--mainColorGreen);
  border: .1px solid black;
}

.accountButton:hover{
  background-color: #333333;
  cursor: pointer;
}

.profileDropdown{
  background-color: var(--mainColorLightGrey);
  position: absolute;
  top: calc(var(--navbarHeight) - 10px);
  right: 0;
  padding: 20px 20px 10px 20px;
  border-radius: var(--cardBorderRadius);
  z-index: -100;
}

.profileDropdown > * {
  margin-top: 8px;
  margin-bottom: 8px;
}

.warningButton{
  border: 3px solid var(--mainColorWarning);
  border-radius: 7px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 800;
  width: 100%;
  cursor: pointer;
}

.warningButton:hover{
  background-color: var(--mainColorWarning);
  color: white;
}

.navlink{
  color: inherit;
}
