@import './../../vars.css';

.navbarRight{
  margin-right: 30px;
  padding-bottom: var(--navbarBottomPadding);
}

.faUserParent{
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
}

.accountButton{
  height: 30px;
  width: 130px;
  border-radius: var(--buttonBorderRadius);
  background-color: var(--mainColorLightGrey);
}
