.loginButton{
  cursor: pointer;
  border: none;
  background: none;
  height: var(--navButtonHeight);
  padding: 0;
  font-size: 20px;
  color: white;
  transition: var(--transition);
  border-bottom: var(--navLinkBorderBottom);
}

.loginButton:hover{
  border-bottom: var(--navLinkBorderBottomHover);
}
